h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  line-height: 2;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-top: 20px;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514E;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.topcontainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middlecontainer {
  margin: 100px 0;
}

.bottomcontainer {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.dev {
  text-decoration: underline;
}

.bottomcloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.web {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.python {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.my-skills {
  color: #62BFBF;
}

.mid-cont {
  width: 30%;
  margin: auto;
  color: #40514E;
}

.cont {
  background-color: #66BFBF;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 125px;
  margin-bottom: 70px;
  font-family: serif;
  font-weight: bold;
}

.footer-link {
  display: inline-block;
}

.profile {
  margin-top: 50px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF !important;
  font-size: 20px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top, #11CDD4, #11999E);
  background: -ms-linear-gradient(top, #11CDD4, #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top, #11CDD4, #11999E);
  margin-bottom: 10px;
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(top, #30E3CB, #2BC4AD);
  background: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
}

.footer-link {
  /* margin-top: 100px; */
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
